<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@alert.edit.headline">Edit Alert</h1>
    <div>
        <a routerLink="/alerts" class="btn btn-secondary" i18n="@@alert.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@alert.id.label" label="Id" />
    <app-input-row [group]="editForm" field="description" rowType="textarea" i18n-label="@@alert.description.label" label="Description" />
    <app-input-row [group]="editForm" field="expirationTime" rowType="datetimepicker" i18n-label="@@alert.expirationTime.label" label="Expiration Time" />
    <app-input-row [group]="editForm" field="active" rowType="checkbox" i18n-label="@@alert.active.label" label="Active" />
    <app-input-row [group]="editForm" field="alertType" i18n-label="@@alert.alertType.label" label="Alert Type" />
    <input type="submit" i18n-value="@@alert.edit.headline" value="Edit Alert" class="btn btn-primary mt-4" />
</form>
