<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@passwordToken.edit.headline">Edit Password Token</h1>
    <div>
        <a routerLink="/passwordTokens" class="btn btn-secondary" i18n="@@passwordToken.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@passwordToken.id.label" label="Id" />
    <app-input-row [group]="editForm" field="token" i18n-label="@@passwordToken.token.label" label="Token" />
    <app-input-row [group]="editForm" field="expirationTime" rowType="datetimepicker" i18n-label="@@passwordToken.expirationTime.label" label="Expiration Time" />
    <app-input-row [group]="editForm" field="typeToken" i18n-label="@@passwordToken.typeToken.label" label="Type Token" />
    <app-input-row [group]="editForm" field="used" rowType="checkbox" i18n-label="@@passwordToken.used.label" label="Used" />
    <input type="submit" i18n-value="@@passwordToken.edit.headline" value="Edit Password Token" class="btn btn-primary mt-4" />
</form>
