<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@doctor.edit.headline">Edit Doctor</h1>
    <div>
        <a routerLink="/doctors" class="btn btn-secondary" i18n="@@doctor.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@doctor.id.label" label="Id" />
    <app-input-row [group]="editForm" field="conselho" i18n-label="@@doctor.conselho.label" label="Conselho" />
    <app-input-row [group]="editForm" field="ufconselho" i18n-label="@@doctor.ufconselho.label" label="Ufconselho" />
    <app-input-row [group]="editForm" field="registro" i18n-label="@@doctor.registro.label" label="Registro" />
    <app-input-row [group]="editForm" field="title" i18n-label="@@doctor.title.label" label="Title" />
    <app-input-row [group]="editForm" field="user" rowType="select" [options]="userValues" i18n-label="@@doctor.user.label" label="User" />
    <app-input-row [group]="editForm" field="specialty" rowType="select" [options]="specialtyValues" i18n-label="@@doctor.specialty.label" label="Specialty" />
    <app-input-row [group]="editForm" field="healthinsurances" rowType="multiselect" [options]="healthinsurancesValues" i18n-label="@@doctor.healthinsurances.label" label="Healthinsurances" />
    <app-input-row [group]="editForm" field="documents" rowType="multiselect" [options]="documentsValues" i18n-label="@@doctor.documents.label" label="Documents" />
    <input type="submit" i18n-value="@@doctor.edit.headline" value="Edit Doctor" class="btn btn-primary mt-4" />
</form>
