<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@role.add.headline">Add Role</h1>
    <div>
        <a routerLink="/roles" class="btn btn-secondary" i18n="@@role.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="type" rowType="radio" [options]="{'PATIENT': 'PATIENT', 'DOCTOR': 'DOCTOR', 'ADMIN': 'ADMIN'}" i18n-label="@@role.type.label" label="Type" />
    <input type="submit" i18n-value="@@role.add.headline" value="Add Role" class="btn btn-primary mt-4" />
</form>
