<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@document.add.headline">Add Document</h1>
    <div>
        <a routerLink="/documents" class="btn btn-secondary" i18n="@@document.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="documentType" rowType="select" [options]="{'CPF': 'CPF', 'RG': 'RG', 'ATESTADO': 'ATESTADO', 'PLANOSAUDE': 'PLANOSAUDE', 'NEWSLETTER': 'NEWSLETTER', 'OTHERS': 'OTHERS'}" i18n-label="@@document.documentType.label" label="Document Type" />
    <app-input-row [group]="addForm" field="file" rowType="file" i18n-label="@@document.file.label" label="File" />
    <app-input-row [group]="addForm" field="filename" i18n-label="@@document.filename.label" label="Filename" />
    <app-input-row [group]="addForm" field="fileType" i18n-label="@@document.fileType.label" label="File Type" />
    <input type="submit" i18n-value="@@document.add.headline" value="Add Document" class="btn btn-primary mt-4" />
</form>
