<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p i18n="@@home.index.text">Hello.</p>
<p class="mb-5">
    <span i18n="@@home.index.swagger.text">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/phoness" class="list-group-item list-group-item-action" i18n="@@phones.list.headline">Phoneses</a>
        <a routerLink="/users" class="list-group-item list-group-item-action" i18n="@@user.list.headline">Users</a>
        <a routerLink="/addresses" class="list-group-item list-group-item-action" i18n="@@address.list.headline">Addresses</a>
        <a routerLink="/roles" class="list-group-item list-group-item-action" i18n="@@role.list.headline">Roles</a>
        <a routerLink="/doctors" class="list-group-item list-group-item-action" i18n="@@doctor.list.headline">Doctors</a>
        <a routerLink="/specialties" class="list-group-item list-group-item-action" i18n="@@specialty.list.headline">Specialties</a>
        <a routerLink="/healthInsurances" class="list-group-item list-group-item-action" i18n="@@healthInsurance.list.headline">Health Insurances</a>
        <a routerLink="/documents" class="list-group-item list-group-item-action" i18n="@@document.list.headline">Documents</a>
        <a routerLink="/patients" class="list-group-item list-group-item-action" i18n="@@patient.list.headline">Patients</a>
        <a routerLink="/responsibles" class="list-group-item list-group-item-action" i18n="@@responsible.list.headline">Responsibles</a>
        <a routerLink="/passwordTokens" class="list-group-item list-group-item-action" i18n="@@passwordToken.list.headline">Password Tokens</a>
        <a routerLink="/alerts" class="list-group-item list-group-item-action" i18n="@@alert.list.headline">Alerts</a>
        <a routerLink="/newsletters" class="list-group-item list-group-item-action" i18n="@@newsletter.list.headline">Newsletters</a>
        <a routerLink="/emailss" class="list-group-item list-group-item-action" i18n="@@emails.list.headline">Emailses</a>
        <a routerLink="/schedules" class="list-group-item list-group-item-action" i18n="@@schedule.list.headline">Schedules</a>
        <a routerLink="/medicalRecords" class="list-group-item list-group-item-action" i18n="@@medicalRecord.list.headline">Medical Records</a>
        <a routerLink="/doctorsAvailableSchedules" class="list-group-item list-group-item-action" i18n="@@doctorsAvailableSchedule.list.headline">Doctors Available Schedules</a>
    </div>
</div>
