<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@specialty.add.headline">Add Specialty</h1>
    <div>
        <a routerLink="/specialties" class="btn btn-secondary" i18n="@@specialty.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="name" i18n-label="@@specialty.name.label" label="Name" />
    <app-input-row [group]="addForm" field="description" i18n-label="@@specialty.description.label" label="Description" />
    <input type="submit" i18n-value="@@specialty.add.headline" value="Add Specialty" class="btn btn-primary mt-4" />
</form>
